.root {
  display: inline-flex;
  height: 1.5rem;
  width: 2.75rem;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-color: hsl(0 0% 70%);
  transition: background-color 150ms;
}

.root[data-state="checked"] {
  background-color: hsl(var(--primary));
}

.root:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px hsl(var(--ring));
}

.root:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.thumb {
  pointer-events: none;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 9999px;
  background-color: white;
  box-shadow: 0 4px 10px hsl(220 20% 2% / 0.35);
  transition: transform 150ms;
}

.thumb[data-state="checked"] {
  transform: translateX(1.25rem);
}

.thumb[data-state="unchecked"] {
  transform: translateX(0);
}
