.root {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  border-radius: 0.125rem;
  border: 1px solid hsl(var(--border));
  background-color: transparent;
}

.root:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px hsl(var(--ring));
}

.root:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.root[data-state="checked"] {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
}

.check {
  height: 1rem;
  width: 1rem;
}
