name: movieshelf
services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: movieshelf
    networks:
      - appnet

  redis:
    image: redis:7-alpine
    networks:
      - appnet

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: movieshelf-backend:latest
    env_file:
      - ./backend/.env
    depends_on:
      - db
      - redis
    ports:
      - "4000:4000"
    restart: unless-stopped
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: movieshelf-frontend:latest
    env_file:
      - ./frontend/.env
    ports:
      - "8080:80"
    restart: unless-stopped
    networks:
      - appnet

volumes:
  dbdata: {}

networks:
  appnet:
    driver: bridge
