.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--background));
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1536px;
  flex: 1 1 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 2rem;
}

@media (min-width: 640px) {
  .main {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
